{{#if errorMessage}}
  <div class="alert alert-danger">
    <strong>Login failed:</strong> {{errorMessage}}
  </div>
{{/if}}

<form {{action 'authenticate' on='submit'}}>
  <div class="form-group">
    <label>User {{if id 'id:'}} {{id}}</label>
    <select onchange={{action (mut id) value="target.value"}}
      class="form-control">
      <option>Choose ...</option>
      {{#each users as |user|}}
        <option value={{user.id}}>{{user.name}} ({{user.role}})</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{input value=password placeholder='Enter Password' class='form-control' type='password'}}
  </div>
  <button type="submit" class="btn btn-default">Login</button>
</form>
