<ul>
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'protected'}}Protected{{/link-to}}</li>
</ul>

{{#if session.isAuthenticated}}
  <p><a href {{action 'logout'}}>Logout</a></p>
{{else}}
  <p><a href {{action 'login'}}>Login</a></p>
{{/if}}

<p><a href {{action 'logout'}}>Logout</a></p>

<p>content: {{session.content}}</p>

{{outlet}}
